DISCORD_TOKEN=
WELCOME_CHANNEL_ID=
REGISTRO_CHANNEL_ID=
ALBION_SERVER=americas
EVENTOS_CHANNEL_ID=
KILLBOT_GUILD_ID=
KILLBOT_CHANNEL_ID=
KILLBOT_DEATHS_CHANNEL_ID=
GUCCI_CHANNEL_ID=
KILLBOT_MIN_FAME=0
BATTLEBOARD_CHANNEL_ID=
BATTLE_MIN_PLAYERS=10
